<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for person in users %}
    <H1>Hello {{person.name}} {{person.language}}<H1>
    {% endfor %}
    {% if klasa %}
    <p> shfaq klasat</p>
    {% elif not klasa %} <!--don kusht gjithmon nqs eshte elif-->
    <p> nuk kam klasa</p>
    {% endif %}
</body>
</html>